<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ds.birth"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="false"
        android:smallScreens="true" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:icon="@drawable/appicon"
        android:label="@string/app_name"
        android:theme="@style/coupon_theme" >
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".NavigationActivity" >
        </activity>
        <activity
            android:name=".BirthEditActivity"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="com.ds.birth.add_birth" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.ds.birth.edit_birth" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".BirthActivity" >
        </activity>
        <activity
            android:name=".BirthDetailActivity"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="com.ds.birth.view_birth" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".AppStoreActivity" >
        </activity>
        <activity android:name=".SendBlessActivity" >
        </activity>
        <activity android:name=".RankingActivity" >
        </activity>
        <activity android:name=".MineActivity" >
        </activity>
        <activity android:name=".MoreActivity" >
        </activity>
        <activity
            android:name="com.ds.birth.CityListActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>